* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body {
    background: #f2f4f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.player-container {
    width: 360px;
    background: #ffffff;
    padding: 30px;
    border-radius: 25px;
    text-align: center;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.12);
}

.title {
    font-size: 1.9rem;
    margin-bottom: 10px;
    color: #2a7de1;
}

.cover {
    width: 100%;
    border-radius: 18px;
    margin-bottom: 20px;
    box-shadow: 0 8px 20px rgba(42, 125, 225, 0.2);
}

#song-title {
    font-size: 1.4rem;
    font-weight: 600;
}

#song-artist {
    color: #666;
    margin-bottom: 10px;
}

.progress-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 0;
}

#progress-bar {
    width: 70%;
    accent-color: #2a7de1;
}

.controls button {
    background: #2a7de1;
    border: none;
    padding: 12px 22px;
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    font-size: 1.1rem;
    color: white;
    transition: 0.3s ease;
}

.controls button:hover {
    background: #1f5fb3;
}

.volume-control {
    margin-top: 15px;
}

#volume {
    accent-color: #2a7de1;
}

.playlist-title {
    margin-top: 20px;
    color: #2a7de1;
    font-size: 1.4rem;
}

#playlist li {
    background: #f7f9fc;
    padding: 12px;
    margin: 8px 0;
    border-radius: 12px;
    cursor: pointer;
    transition: 0.3s;
    color: #333;
    border: 1px solid #e3e6eb;
}

#playlist li:hover {
    background: #e8f1ff;
    border-color: #2a7de1;
}

.active {
    background: #2a7de1 !important;
    color: #fff !important;
    border-color: transparent;
}
